body {
    background-color: #a7d2d6;
}

.bg-brown {
    background-color: #BEA664;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.facebook-logo {
    width: 6.7em; /* Default size for smaller screens */
}
@media (min-width: 576px) {
    .facebook-logo {
        width: 8.5em; /* Size for medium screens */
    }
}
@media (min-width: 768px) {
    .facebook-logo {
        width: 9em; /* Size for large screens */
    }
}
@media (min-width: 992px) {
    .facebook-logo {
        width: 8.6em; /* Size for extra-large screens */
    }
}

.square-box {
    width: 100%;
    aspect-ratio: 1 / 0.78;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    flex-direction: row;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}